{% extends "layout.html" %}
{% block content %}
    {% load simple_tags %}

    <form class="view">
        {% h1 page_title %}
        <div>
            <a href="/{{ url_main }}/" class="button back padding-right-0">Natrag</a>
            <a href="/{{ url_main }}/form/{{ pk }}/" class="button edit float-right padding-right-0">Ažuriraj</a>
        </div>

        <fieldset>
            {% for field in fields %}
                <div>
                    <label>{{ field.label }}</label>
                    <div>{{ field.value }}</div>
                </div>
            {% endfor %}
        </fieldset>


        <fieldset>
            {% for receipt_cost in receipt_costs %}
                <div>
                    <div class="margin-left-0">
                        <div class="grid-16">{{ receipt_cost.cost_category }}</div>
                        <div class="grid-16">{{ receipt_cost.cost_subcategory }}</div>
                        <div class="grid-16">{{ receipt_cost.cost_name }}</div>
                        <div class="grid-16">{{ receipt_cost.amount }} kn</div>
                        <div class="grid-16">{{ receipt_cost.quantity }}</div>
                        <div class="grid-16">{{ receipt_cost.description }}</div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>


    </form>



{% endblock %}