{% extends "layout.html" %}
{% load simple_tags %}
{% block content %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% h1 page_title %}
    <div>
        <a href="/{{ url_main }}/" class="button back padding-right-0">Natrag</a>
    </div>
    {{ formset.management_form }}

    {% h2 "Podaci o računu" %}

    <fieldset>
        {% for field in form %}
            <div>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                <div>{{ field }}</div>
                {{ field.errors }}
            </div>
        {% endfor %}
    </fieldset>

    {% h2 "Stavke računa" %}
    {{ cost_formset.management_form }}
    <fieldset>
        {% for form in cost_formset %}
            <div>
                <div class="margin-left-0">
                    {% for field in form %}
                        <div class="grid-16">{{ field }}</div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                {{ form.errors }}
            </div>
        {% endfor %}
    </fieldset>
    <div class="clear"></div>

    <input type="submit" class="button save" name="submit" value="Spremi">

</form>
{% endblock %}