{% extends "layout.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}

    {% button_new "Novi račun" "/receipt/form/" %}

    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Račun" "pk" "14" "left" %}
                {% th "Prodavatelj" "seller.name" "14" "left" %}
                {% th "Suma" "total_sum" "14" "left" %}
                {% th "Datum računa" "date_of_cost" "14" "left" %}
                {% th "Platio" "paid_by" "14" "left" %}
                {% th "Unio" "created_by" "14" "left" %}
                {% th_operation %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% td row.pk "pk" %}
                    {% with receipt_number=row.pk|convert_to_string:"0" %}
                    {% with link=row.pk|format:"<a href='/receipt/details/%s/'>"|add:"Račun broj "|add:receipt_number|add:"</a>" %}
                        {% td link "row.pk" "left" %}
                    {% endwith %}
                    {% endwith %}
                    {% td row.seller.name "seller.name" "left" %}
                    {% with total_sum=row.total_sum|convert_to_string:"0" %}
                        {% td total_sum|add:" kn" "total_sum" "left" %}
                    {% endwith %}
                    {% td row.date_of_receipt "date_of_cost" "left" %}
                    {% td row.paid_by "paid_by" "left" %}
                    {% td row.created_by "created_by" "left" %}
                    {% with view=row.pk|format:"<a href='/receipt/details/%s/' class='view'></a>" %}
                    {% with edit=row.pk|format:"<a href='/receipt/form/%s/' class='edit'></a>" %}
                    {% with delete=row.pk|format:"<a href='/receipt/delete/%s/' class='delete'></a>" %}
                        {% td view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}