{% extends "layout.html" %}
{% load simple_tags %}
{% load filters %}

{% block content %}

    {% h1 page_title %}

    {% button_new "Novi prodavatelj" "/seller/form/" %}


    <table class="grid">
        {% if rows %}
            <tr>
                {% th "Id" "pk" "3" %}
                {% th "Naziv" "name" "17" "left" %}
                {% th "Kontakt osoba" "contact_person" "17" "left" %}
                {% th "Kontakt broj telefona" "phone_number" "18" "left" %}
                {% th "Kontakt e-mail" "email" "17" "left" %}
                {% th "Kontakt adresa" "address" "18" "left" %}
                {% th_operation %}
            </tr>
            {% for row in rows %}
                <tr>
                    {% td row.pk "pk" %}
                    {% with link=row.pk|format:"<a href='/seller/details/%s/'>"|add:row.name|add:"</a>" %}
                        {% td link "name" "left" %}
                    {% endwith %}
                    {% td row.contact_person "contact_person" "left" %}
                    {% td row.phone_number "phone_number" "left" %}
                    {% td row.email "email" "left" %}
                    {% td row.address "address" "left" %}
                    {% with view=row.pk|format:"<a href='/seller/details/%s/' class='view'></a>" %}
                    {% with edit=row.pk|format:"<a href='/seller/form/%s/' class='edit'></a>" %}
                    {% with delete=row.pk|format:"<a href='/seller/delete/%s/' class='delete'></a>" %}
                        {% td view|add:edit|add:delete %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                {% td "Nema zapisa" %}
            </tr>
        {% endif %}
    </table>
    {% pager rows %}

{% endblock %}